/*DEFAULTS*/
body {
    margin: 0px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
}

.row::after{
    display: table;
    clear: both;
    content: "";    
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
    width: 100%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 7%;
}

/*first section: name and logo*/
#nameAndLogo {
    background-color: background: #270101;
    background: -webkit-linear-gradient(bottom, #270101, #D30102);
    background: -moz-linear-gradient(bottom, #270101, #D30102);
    background: linear-gradient(to top, #270101, #D30102);
    
    font-family: "Augusta";
}
.heyZeusTitle {
    font-family: 'Cormorant Garamond', serif;
    font-size: 100px;
    margin: 0;
}
.heyZeusPara {
    font-size: 24px;
    font-weight: bold;
}












