/*DEFAULTS*/
body {
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
}

.row::after{
    display: table;
    clear: both;
    content: "";    
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
    width: 100%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 7%;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
}

/*MAIN PAGE: INDEX*/

/*first section: name and logo*/
#nameAndLogo {
    background-color: background: #270101;
    background: -webkit-linear-gradient(bottom, #270101, #D30102);
    background: -moz-linear-gradient(bottom, #270101, #D30102);
    background: linear-gradient(to top, #270101, #D30102);
    
    font-family: "Augusta";
}
.heyZeusTitle {
    font-size: 100px;
}
.heyZeusPara {
    font-size: 24px;
    font-weight: bold;
}

/*second section: about*/

#aboutSection {
    background: #FFF0F0;
    background: -webkit-linear-gradient(bottom, #FFF0F0, #270101);
    background: -moz-linear-gradient(bottom, #FFF0F0, #270101);
    background: linear-gradient(to top, #FFF0F0, #270101);
    text-align: center;
}
.textBackground {
    width: auto;
    padding-left: 300px;
    padding-right: 300px;
    background-clip: content-box;
    background-color: floralwhite;
}

.about {
    font-size: 60px;
    padding: 20px;
}
.aboutParagraph {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

/*theird section: learn more */

#learnMoreSection{
    text-align: center;
    background: #FFFAF0;
    background: -webkit-linear-gradient(top, #FFF0F0, #FFFAF0);
    background: -moz-linear-gradient(top, #FFF0F0, #FFFAF0);
    background: linear-gradient(to bottom, #FFF0F0, #FFFAF0);
}

h1.learnMoreHeader {
    font-size: 100px;
    color: darkred;
    margin-bottom: 5%;
}

div.box {
    box-shadow: 0px 0px 0px 5px black;
    height: 400px;
    margin: 20px;
}

div.row div.col-4 h1 {
    font-size: 50px;
}

div.row div.col-4 p {
    font-size: 30px;
    font-weight: 600;
}

div.row div.col-4 button {
    box-sizing: content-box;
    font-size: 40px;
}






